// Here you can add other styles

.app-header.navbar .navbar-brand {
	display: inline-block;
	width: 175px;
	height: 55px;
	padding: 0.5rem 1rem;
	margin-right: 0;
	/* background-color: #fff; */
	background-image: url(../src/assets/parciom.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70px auto;
	border-bottom: 1px solid #a4b7c1;
}

/*******************
Paddings
*******************/

html body .p-0 		{	padding: 0px; }
html body .p-5 		{	padding: 5px; }
html body .p-10 	{	padding: 10px; }
html body .p-15 	{	padding: 15px; }
html body .p-20 	{	padding: 20px; }
html body .p-25 	{	padding: 25px; }
html body .p-30 	{	padding: 30px; }
html body .p-35 	{	padding: 35px; }
html body .p-40 	{	padding: 40px; }
html body .p-l-0 	{	padding-left: 0px; }
html body .p-l-5 	{	padding-left: 5px; }
html body .p-l-10 	{	padding-left: 10px; }
html body .p-l-15 	{	padding-left: 15px; }
html body .p-l-25 	{	padding-left: 25px; }
html body .p-l-30 	{	padding-left: 30px; }
html body .p-l-35 	{	padding-left: 35px; }
html body .p-l-40 	{	padding-left: 40px; }
html body .p-r-0 	{	padding-right: 0px; }
html body .p-r-5 	{	padding-right: 5px; }
html body .p-r-10 	{	padding-right: 10px; }
html body .p-r-15 	{	padding-right: 15px; }
html body .p-r-20 	{	padding-right: 20px; }
html body .p-r-25 	{	padding-right: 25px; }
html body .p-r-30 	{	padding-right: 30px; }
html body .p-r-35 	{	padding-right: 35px; }
html body .p-r-40 	{	padding-right: 40px; }
html body .p-t-0 	{	padding-top: 0px; }
html body .p-t-5 	{	padding-top: 5px; }
html body .p-t-10 	{	padding-top: 10px; }
html body .p-t-15 	{	padding-top: 15px; }
html body .p-t-20 	{	padding-top: 20px; }
html body .p-t-25 	{	padding-top: 25px; }
html body .p-t-30 	{	padding-top: 30px; }
html body .p-t-35 	{	padding-top: 35px; }
html body .p-t-40 	{	padding-top: 40px; }
html body .p-b-0 	{	padding-bottom: 0px; }
html body .p-b-5 	{	padding-bottom: 5px; }
html body .p-b-10 	{	padding-bottom: 10px; }
html body .p-b-15 	{	padding-bottom: 15px; }
html body .p-b-20 	{	padding-bottom: 20px; }
html body .p-b-25 	{	padding-bottom: 25px; }
html body .p-b-30 	{	padding-bottom: 30px; }
html body .p-b-35 	{	padding-bottom: 35px; }
html body .p-b-40 	{	padding-bottom: 40px; }

/*******************
Margin
*******************/
html body .m-0 		{	margin: 0px; }
html body .m-l-5 	{	margin-left: 5px; }
html body .m-l-10 	{	margin-left: 10px; }
html body .m-l-15 	{	margin-left: 15px; }
html body .m-l-20 	{	margin-left: 20px; }
html body .m-l-25 	{	margin-left: 25px; }
html body .m-l-30 	{	margin-left: 30px; }
html body .m-l-35 	{	margin-left: 35px; }
html body .m-l-40 	{	margin-left: 40px; }
html body .m-r-5 	{	margin-right: 5px; }
html body .m-r-10 	{	margin-right: 10px; }
html body .m-r-15 	{	margin-right: 15px; }
html body .m-r-20 	{	margin-right: 20px; }
html body .m-r-25 	{	margin-right: 25px; }
html body .m-r-30 	{	margin-right: 30px; }
html body .m-r-35 	{	margin-right: 35px; }
html body .m-r-40 	{	margin-right: 40px; }
html body .m-t-0 	{	margin-top: 0px; }
html body .m-t-5 	{	margin-top: 5px; }
html body .m-t-10 	{	margin-top: 10px; }
html body .m-t-15 	{	margin-top: 15px; }
html body .m-t-20 	{	margin-top: 20px; }
html body .m-t-25 	{	margin-top: 25px; }
html body .m-t-30 	{	margin-top: 30px; }
html body .m-t-35 	{	margin-top: 35px; }
html body .m-t-40 	{	margin-top: 40px; }
html body .m-b-0 	{	margin-bottom: 0px; }
html body .m-b-5 	{	margin-bottom: 5px; }
html body .m-b-10 	{	margin-bottom: 10px; }
html body .m-b-15 	{	margin-bottom: 15px; }
html body .m-b-20 	{	margin-bottom: 20px; }
html body .m-b-25 	{	margin-bottom: 25px; }
html body .m-b-30 	{	margin-bottom: 30px; }
html body .m-b-35 	{	margin-bottom: 35px; }
html body .m-b-40 	{	margin-bottom: 40px; }

html body .font-100                   { font-weight: 100;   }
html body .font-200                   { font-weight: 200;   }
html body .font-300, .font-light      { font-weight: 300;   }
html body .font-400, .font-regular    { font-weight: 400;   }
html body .font-500                   { font-weight: 500;   }
html body .font-600                   { font-weight: 600;   }
html body .font-700, .font-bold       { font-weight: 700;   }
html body .font-800                   { font-weight: 800;   }
html body .font-900, .font-ultra-bold { font-weight: 900;   }
html body .font-italic                { font-style: italic; }

html body .force-font-100                   { font-weight: 100 !important;   }
html body .force-font-200                   { font-weight: 200 !important;   }
html body .force-font-300, .font-light      { font-weight: 300 !important;   }
html body .force-font-400, .font-regular    { font-weight: 400 !important;   }
html body .force-font-500                   { font-weight: 500 !important;   }
html body .force-font-600                   { font-weight: 600 !important;   }
html body .force-font-700, .font-bold       { font-weight: 700 !important;   }
html body .force-font-800                   { font-weight: 800 !important;   }
html body .force-font-900, .font-ultra-bold { font-weight: 900 !important;   }
html body .force-font-italic                { font-style: italic !important; }

html body .card-no-border {
	border: none;
}

html body .font-0-4em { font-size: 0.4em; }
html body .font-0-5em { font-size: 0.5em; }
html body .font-0-6em { font-size: 0.6em; }
html body .font-0-7em { font-size: 0.7em; }
html body .font-0-8em { font-size: 0.8em; }
html body .font-0-9em { font-size: 0.9em; }
html body .font-1em   { font-size: 1.0em; }
html body .font-1-1em { font-size: 1.1em; }
html body .font-1-2em { font-size: 1.2em; }
html body .font-1-3em { font-size: 1.3em; }
html body .font-1-4em { font-size: 1.4em; }
html body .font-1-5em { font-size: 1.5em; }
html body .font-1-6em { font-size: 1.6em; }
html body .font-1-7em { font-size: 1.7em; }
html body .font-1-8em { font-size: 1.8em; }
html body .font-1-9em { font-size: 1.9em; }
html body .font-2em   { font-size: 2.0em; }
html body .font-2-1em { font-size: 2.1em; }
html body .font-2-2em { font-size: 2.2em; }
html body .font-2-3em { font-size: 2.3em; }
html body .font-2-4em { font-size: 2.4em; }
html body .font-2-5em { font-size: 2.5em; }
html body .font-2-6em { font-size: 2.6em; }
html body .font-2-7em { font-size: 2.7em; }
html body .font-2-8em { font-size: 2.8em; }
html body .font-2-9em { font-size: 2.9em; }
html body .font-3em   { font-size: 3.0em; }
html body .font-3-1em { font-size: 3.1em; }
html body .font-3-2em { font-size: 3.2em; }
html body .font-3-3em { font-size: 3.3em; }
html body .font-3-4em { font-size: 3.4em; }
html body .font-3-5em { font-size: 3.5em; }
html body .font-3-6em { font-size: 3.6em; }
html body .font-3-7em { font-size: 3.7em; }
html body .font-3-8em { font-size: 3.8em; }
html body .font-3-9em { font-size: 3.9em; }
html body .font-4em   { font-size: 4.0em; }
html body .font-4-1em { font-size: 4.1em; }
html body .font-4-2em { font-size: 4.2em; }
html body .font-4-3em { font-size: 4.3em; }
html body .font-4-4em { font-size: 4.4em; }
html body .font-4-5em { font-size: 4.5em; }
html body .font-4-6em { font-size: 4.6em; }
html body .font-4-7em { font-size: 4.7em; }
html body .font-4-8em { font-size: 4.8em; }
html body .font-4-9em { font-size: 4.9em; }
html body .font-5em   { font-size: 5.0em; }

.form-control:disabled, .form-control[readonly] {
	background-color: #eee;
	opacity: 1;
}

.color-primary          { color: $parciom-primary; }
.color-secondary-pink   { color: $parciom-secondary-pink; }
.color-secondary-blue   { color: $parciom-secondary-blue; }
.color-secondary-beige  { color: $parciom-secondary-beige; }
.color-secondary-gray   { color: $parciom-secondary-gray; }
.color-fff              { color: $white; }
.color-f1f1f1           { color: #f1f1f1; }
.color-red              { color: $red; }

.bg-primary             { background-color: $parciom-primary; }
.bg-secondary-pink      { background-color: $parciom-secondary-pink; }
.bg-secondary-blue      { background-color: $parciom-secondary-blue; }
.bg-secondary-beige     { background-color: $parciom-secondary-beige; }
.bg-secondary-gray      { background-color: $parciom-secondary-gray; }
.bg-fff                 { background-color: $white; }
.bg-f1f1f1              { background-color: #f1f1f1; }
.bg-red                 { background-color: $red; }

.force-color-primary          { color: $parciom-primary !important; }
.force-color-secondary-pink   { color: $parciom-secondary-pink !important; }
.force-color-secondary-blue   { color: $parciom-secondary-blue !important; }
.force-color-secondary-beige  { color: $parciom-secondary-beige !important; }
.force-color-secondary-gray   { color: $parciom-secondary-gray !important; }
.force-color-fff              { color: $white !important; }
.force-color-f1f1f1           { color: #f1f1f1 !important; }
.force-color-red              { color: $red !important; }

.force-bg-primary             { background-color: $parciom-primary !important; }
.force-bg-secondary-pink      { background-color: $parciom-secondary-pink !important; }
.force-bg-secondary-blue      { background-color: $parciom-secondary-blue !important; }
.force-bg-secondary-beige     { background-color: $parciom-secondary-beige !important; }
.force-bg-secondary-gray      { background-color: $parciom-secondary-gray !important; }
.force-bg-fff                 { background-color: $white !important; }
.force-bg-f1f1f1              { background-color: #f1f1f1 !important; }
.force-bg-red                 { background-color: $red !important; }

.was-validated .form-control:valid, .form-control.is-valid, .was-validated .custom-select:valid, .custom-select.is-valid {
    border-color: $parciom-primary;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
    border-color: #a2efcf;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(53, 220, 152, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(53, 220, 152, 0.25);
}

.categoria-form-group {
	text-transform: uppercase;
	font-weight: 700;
	color: $parciom-secondary-gray;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

tr, tr td {
	vertical-align: middle;
}

.lista-do-roteiro {
	padding-left: 15px;
	margin-bottom: 0;
}

.lista-do-roteiro li {
	margin-bottom: 10px;
}

.lista-do-roteiro li:last-child {
	margin-bottom: 0;
}

.btn-primary {
	color: #fff !important;
}

/* Gradients */

.bg-gradient-primary {
    background-color: $parciom-gradient-primary-1;
    background-color: linear-gradient($parciom-gradient-primary-1, $parciom-gradient-primary-2);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38e5c8+0,35dc98+100 */
    background: $parciom-gradient-primary-1; /* Old browsers */
    background: -moz-linear-gradient(top,  $parciom-gradient-primary-1 0%, $parciom-gradient-primary-2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $parciom-gradient-primary-1 0%,$parciom-gradient-primary-2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $parciom-gradient-primary-1 0%,$parciom-gradient-primary-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$parciom-gradient-primary-1', endColorstr='$parciom-gradient-primary-2',GradientType=0 ); /* IE6-9 */
}

.bg-gradient-orange {
    background-color: $parciom-gradient-orange-1;
    background-color: linear-gradient($parciom-gradient-orange-1, $parciom-gradient-orange-2);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38e5c8+0,35dc98+100 */
    background: $parciom-gradient-orange-1; /* Old browsers */
    background: -moz-linear-gradient(top,  $parciom-gradient-orange-1 0%, $parciom-gradient-orange-2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $parciom-gradient-orange-1 0%,$parciom-gradient-orange-2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $parciom-gradient-orange-1 0%,$parciom-gradient-orange-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$parciom-gradient-orange-1', endColorstr='$parciom-gradient-orange-2',GradientType=0 ); /* IE6-9 */
}

.bg-gradient-pink {
    background-color: $parciom-gradient-pink-1;
    background-color: linear-gradient($parciom-gradient-pink-1, $parciom-gradient-pink-2);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38e5c8+0,35dc98+100 */
    background: $parciom-gradient-pink-1; /* Old browsers */
    background: -moz-linear-gradient(top,  $parciom-gradient-pink-1 0%, $parciom-gradient-pink-2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $parciom-gradient-pink-1 0%,$parciom-gradient-pink-2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $parciom-gradient-pink-1 0%,$parciom-gradient-pink-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$parciom-gradient-pink-1', endColorstr='$parciom-gradient-pink-2',GradientType=0 ); /* IE6-9 */
}

.bg-gradient-blue {
    background-color: $parciom-gradient-blue-1;
    background-color: linear-gradient($parciom-gradient-blue-1, $parciom-gradient-blue-2);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38e5c8+0,35dc98+100 */
    background: $parciom-gradient-blue-1; /* Old browsers */
    background: -moz-linear-gradient(top,  $parciom-gradient-blue-1 0%, $parciom-gradient-blue-2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $parciom-gradient-blue-1 0%,$parciom-gradient-blue-2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $parciom-gradient-blue-1 0%,$parciom-gradient-blue-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$parciom-gradient-blue-1', endColorstr='$parciom-gradient-blue-2',GradientType=0 ); /* IE6-9 */
}

.logo-login {
    max-width: 100%;
    max-height: 60px;
    display: block;
    margin: auto;
}

/* #############
    Tabelas
############# */

.better-table>thead>tr>th {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    vertical-align: middle;
}

.better-table>tbody>tr>td {
    color: #666;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    padding: 0.50rem 0.75rem;
}

.better-table.better-table-bordered>tbody>tr>td:first-child {
    border-left: 1px solid #ddd;
}

.better-table.better-table-bordered>tbody>tr>td:last-child {
    border-right: 1px solid #ddd;
}

.better-table.better-table-fully-bordered>tbody>tr>td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* #############
    Tabelas
     Cores
############# */

.better-table.better-table-primary>thead>tr>th {
    background-color: $parciom-primary;
    border-top: 1px solid $parciom-primary;
    border-bottom: 1px solid $parciom-primary;
}

.better-table.better-table-primary.better-table-bordered>thead>tr>th:first-child {
    border-left: 1px solid $parciom-primary;
}

.better-table.better-table-primary.better-table-bordered>thead>tr>th:last-child {
    border-right: 1px solid $parciom-primary;
}

.better-table.better-table-primary.better-table-fully-bordered>thead>tr>th {
    border-left: 1px solid $parciom-primary;
    border-right: 1px solid $parciom-primary;
}

.better-table.better-table-blue>thead>tr>th {
    background-color: $parciom-secondary-blue;
    border-top: 1px solid $parciom-secondary-blue;
    border-bottom: 1px solid $parciom-secondary-blue;
}

.better-table.better-table-blue.better-table-bordered>thead>tr>th:first-child {
    border-left: 1px solid $parciom-secondary-blue;
}

.better-table.better-table-blue.better-table-bordered>thead>tr>th:last-child {
    border-right: 1px solid $parciom-secondary-blue;
}

.better-table.better-table-blue.better-table-fully-bordered>thead>tr>th {
    border-left: 1px solid $parciom-secondary-blue;
    border-right: 1px solid $parciom-secondary-blue;
}

.better-table.better-table-pink>thead>tr>th {
    background-color: $parciom-secondary-pink;
    border-top: 1px solid $parciom-secondary-pink;
    border-bottom: 1px solid $parciom-secondary-pink;
}

.better-table.better-table-pink.better-table-bordered>thead>tr>th:first-child {
    border-left: 1px solid $parciom-secondary-pink;
}

.better-table.better-table-pink.better-table-bordered>thead>tr>th:last-child {
    border-right: 1px solid $parciom-secondary-pink;
}

.better-table.better-table-pink.better-table-fully-bordered>thead>tr>th {
    border-left: 1px solid $parciom-secondary-pink;
    border-right: 1px solid $parciom-secondary-pink;
}

.better-table.better-table-beige>thead>tr>th {
    background-color: $parciom-secondary-beige;
    border-top: 1px solid $parciom-secondary-beige;
    border-bottom: 1px solid $parciom-secondary-beige;
}

.better-table.better-table-beige.better-table-bordered>thead>tr>th:first-child {
    border-left: 1px solid $parciom-secondary-beige;
}

.better-table.better-table-beige.better-table-bordered>thead>tr>th:last-child {
    border-right: 1px solid $parciom-secondary-beige;
}

.better-table.better-table-beige.better-table-fully-bordered>thead>tr>th {
    border-left: 1px solid $parciom-secondary-beige;
    border-right: 1px solid $parciom-secondary-beige;
}

.better-table.better-table-gray>thead>tr>th {
    background-color: $parciom-secondary-gray;
    border-top: 1px solid $parciom-secondary-gray;
    border-bottom: 1px solid $parciom-secondary-gray;
}

.better-table.better-table-gray.better-table-bordered>thead>tr>th:first-child {
    border-left: 1px solid $parciom-secondary-gray;
}

.better-table.better-table-gray.better-table-bordered>thead>tr>th:last-child {
    border-right: 1px solid $parciom-secondary-gray;
}

.better-table.better-table-gray.better-table-fully-bordered>thead>tr>th {
    border-left: 1px solid $parciom-secondary-gray;
    border-right: 1px solid $parciom-secondary-gray;
}

.better-table.better-table-red>thead>tr>th {
    background-color: $red;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
}

.better-table.better-table-red.better-table-bordered>thead>tr>th:first-child {
    border-left: 1px solid $red;
}

.better-table.better-table-red.better-table-bordered>thead>tr>th:last-child {
    border-right: 1px solid $red;
}

.better-table.better-table-red.better-table-fully-bordered>thead>tr>th {
    border-left: 1px solid $red;
    border-right: 1px solid $red;
}

