/*******************
Paddings
*******************/

.teste {
  margin: 50px
}

html body .p-0 		{	padding: 0px; }
html body .p-5 		{	padding: 5px; }
html body .p-10 	{	padding: 10px; }
html body .p-15 	{	padding: 15px; }
html body .p-20 	{	padding: 20px; }
html body .p-25 	{	padding: 25px; }
html body .p-30 	{	padding: 30px; }
html body .p-35 	{	padding: 35px; }
html body .p-40 	{	padding: 40px; }
html body .p-l-0 	{	padding-left: 0px; }
html body .p-l-5 	{	padding-left: 5px; }
html body .p-l-10 	{	padding-left: 10px; }
html body .p-l-15 	{	padding-left: 15px; }
html body .p-l-25 	{	padding-left: 25px; }
html body .p-l-30 	{	padding-left: 30px; }
html body .p-l-35 	{	padding-left: 35px; }
html body .p-l-40 	{	padding-left: 40px; }
html body .p-r-0 	{	padding-right: 0px; }
html body .p-r-5 	{	padding-right: 5px; }
html body .p-r-10 	{	padding-right: 10px; }
html body .p-r-15 	{	padding-right: 15px; }
html body .p-r-20 	{	padding-right: 20px; }
html body .p-r-25 	{	padding-right: 25px; }
html body .p-r-30 	{	padding-right: 30px; }
html body .p-r-35 	{	padding-right: 35px; }
html body .p-r-40 	{	padding-right: 40px; }
html body .p-t-0 	{	padding-top: 0px; }
html body .p-t-5 	{	padding-top: 5px; }
html body .p-t-10 	{	padding-top: 10px; }
html body .p-t-15 	{	padding-top: 15px; }
html body .p-t-20 	{	padding-top: 20px; }
html body .p-t-25 	{	padding-top: 25px; }
html body .p-t-30 	{	padding-top: 30px; }
html body .p-t-35 	{	padding-top: 35px; }
html body .p-t-40 	{	padding-top: 40px; }
html body .p-b-0 	{	padding-bottom: 0px; }
html body .p-b-5 	{	padding-bottom: 5px; }
html body .p-b-10 	{	padding-bottom: 10px; }
html body .p-b-15 	{	padding-bottom: 15px; }
html body .p-b-20 	{	padding-bottom: 20px; }
html body .p-b-25 	{	padding-bottom: 25px; }
html body .p-b-30 	{	padding-bottom: 30px; }
html body .p-b-35 	{	padding-bottom: 35px; }
html body .p-b-40 	{	padding-bottom: 40px; }

/*******************
Margin
*******************/
html body .m-0 		{	margin: 0px; }
html body .m-l-5 	{	margin-left: 5px; }
html body .m-l-10 	{	margin-left: 10px; }
html body .m-l-15 	{	margin-left: 15px; }
html body .m-l-20 	{	margin-left: 20px; }
html body .m-l-25 	{	margin-left: 25px; }
html body .m-l-30 	{	margin-left: 30px; }
html body .m-l-35 	{	margin-left: 35px; }
html body .m-l-40 	{	margin-left: 40px; }
html body .m-r-5 	{	margin-right: 5px; }
html body .m-r-10 	{	margin-right: 10px; }
html body .m-r-15 	{	margin-right: 15px; }
html body .m-r-20 	{	margin-right: 20px; }
html body .m-r-25 	{	margin-right: 25px; }
html body .m-r-30 	{	margin-right: 30px; }
html body .m-r-35 	{	margin-right: 35px; }
html body .m-r-40 	{	margin-right: 40px; }
html body .m-t-0 	{	margin-top: 0px; }
html body .m-t-5 	{	margin-top: 5px; }
html body .m-t-10 	{	margin-top: 10px; }
html body .m-t-15 	{	margin-top: 15px; }
html body .m-t-20 	{	margin-top: 20px; }
html body .m-t-25 	{	margin-top: 25px; }
html body .m-t-30 	{	margin-top: 30px; }
html body .m-t-35 	{	margin-top: 35px; }
html body .m-t-40 	{	margin-top: 40px; }
html body .m-b-0 	{	margin-bottom: 0px; }
html body .m-b-5 	{	margin-bottom: 5px; }
html body .m-b-10 	{	margin-bottom: 10px; }
html body .m-b-15 	{	margin-bottom: 15px; }
html body .m-b-20 	{	margin-bottom: 20px; }
html body .m-b-25 	{	margin-bottom: 25px; }
html body .m-b-30 	{	margin-bottom: 30px; }
html body .m-b-35 	{	margin-bottom: 35px; }
html body .m-b-40 	{	margin-bottom: 40px; }

html body .font-100                   { font-weight: 100;   }
html body .font-200                   { font-weight: 200;   }
html body .font-300, .font-light      { font-weight: 300;   }
html body .font-400, .font-regular    { font-weight: 400;   }
html body .font-500                   { font-weight: 500;   }
html body .font-600                   { font-weight: 600;   }
html body .font-700, .font-bold       { font-weight: 700;   }
html body .font-800                   { font-weight: 800;   }
html body .font-900, .font-ultra-bold { font-weight: 900;   }
html body .font-italic                { font-style: italic; }

html body .force-font-100                   { font-weight: 100 !important;   }
html body .force-font-200                   { font-weight: 200 !important;   }
html body .force-font-300, .font-light      { font-weight: 300 !important;   }
html body .force-font-400, .font-regular    { font-weight: 400 !important;   }
html body .force-font-500                   { font-weight: 500 !important;   }
html body .force-font-600                   { font-weight: 600 !important;   }
html body .force-font-700, .font-bold       { font-weight: 700 !important;   }
html body .force-font-800                   { font-weight: 800 !important;   }
html body .force-font-900, .font-ultra-bold { font-weight: 900 !important;   }
html body .force-font-italic                { font-style: italic !important; }

html body .card-no-border {
	border: none;
}

html body .font-0-4em { font-size: 0.4em; }
html body .font-0-5em { font-size: 0.5em; }
html body .font-0-6em { font-size: 0.6em; }
html body .font-0-7em { font-size: 0.7em; }
html body .font-0-8em { font-size: 0.8em; }
html body .font-0-9em { font-size: 0.9em; }
html body .font-1em   { font-size: 1.0em; }
html body .font-1-1em { font-size: 1.1em; }
html body .font-1-2em { font-size: 1.2em; }
html body .font-1-3em { font-size: 1.3em; }
html body .font-1-4em { font-size: 1.4em; }
html body .font-1-5em { font-size: 1.5em; }
html body .font-1-6em { font-size: 1.6em; }
html body .font-1-7em { font-size: 1.7em; }
html body .font-1-8em { font-size: 1.8em; }
html body .font-1-9em { font-size: 1.9em; }
html body .font-2em   { font-size: 2.0em; }
html body .font-2-1em { font-size: 2.1em; }
html body .font-2-2em { font-size: 2.2em; }
html body .font-2-3em { font-size: 2.3em; }
html body .font-2-4em { font-size: 2.4em; }
html body .font-2-5em { font-size: 2.5em; }
html body .font-2-6em { font-size: 2.6em; }
html body .font-2-7em { font-size: 2.7em; }
html body .font-2-8em { font-size: 2.8em; }
html body .font-2-9em { font-size: 2.9em; }
html body .font-3em   { font-size: 3.0em; }
html body .font-3-1em { font-size: 3.1em; }
html body .font-3-2em { font-size: 3.2em; }
html body .font-3-3em { font-size: 3.3em; }
html body .font-3-4em { font-size: 3.4em; }
html body .font-3-5em { font-size: 3.5em; }
html body .font-3-6em { font-size: 3.6em; }
html body .font-3-7em { font-size: 3.7em; }
html body .font-3-8em { font-size: 3.8em; }
html body .font-3-9em { font-size: 3.9em; }
html body .font-4em   { font-size: 4.0em; }
html body .font-4-1em { font-size: 4.1em; }
html body .font-4-2em { font-size: 4.2em; }
html body .font-4-3em { font-size: 4.3em; }
html body .font-4-4em { font-size: 4.4em; }
html body .font-4-5em { font-size: 4.5em; }
html body .font-4-6em { font-size: 4.6em; }
html body .font-4-7em { font-size: 4.7em; }
html body .font-4-8em { font-size: 4.8em; }
html body .font-4-9em { font-size: 4.9em; }
html body .font-5em   { font-size: 5.0em; }