/**************** Variaveis root *****************/

:root {
    --color-primary: #F3BACA;
    --color-secondary: #927182;
    --color-white: #fff;
    --color-info-blue: #17a2b8;
    /* --color-tertiary: #927182; */

  }

/**************** Cores *****************/

.color-primary {
    color: var(--color-primary) !important;
  }

.color-secondary {
    color: var(--color-secondary) !important;
}

.color-white {
    color: var(--color-white) !important;
}

.color-info-blue {
    color: var(--color-info-blue) !important;
}

.bg-primary {
    background: var(--color-primary) !important;
  }

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-white {
    background: var(--color-white) !important;
}

.bg-info-blue {
    background: var(--color-info-blue) !important;
}
