
/**************** Sidebar *****************/

.logo-menu-title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 1.75em;
}

.logo-menu-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ecb3c3;
    color: #927182;
    transition: all 0.3s;

    font-weight: 500;
}

.sidebar.active {
    margin-left: -200px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li a {
    padding: 15px;
    font-size: 1em;
    display: block;
}

.sidebar ul li a:hover {
    color: #fff;
    background: #927182;
}

.sidebar ul li a:focus {
  color: #fff;
  background: #927182;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #927182be;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1em !important;
    font-weight: 400;
    padding-left: 40px !important;
    color: #fff;
    background: #927182be;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.7em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #927182;
}

a.article,
a.article:hover {
    background: #927182 !important;
    color: #fff !important;
}

a.article,
a.article:focus {
    background: #927182 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .content {
        width: 100%;
    }
    .content.active {
        width: calc(100% - 250px);
    }
    .sidebarCollapse span {
        display: none;
    }
} */